[Unit]
After=network-online.target
Wants=network-online.target

[Mount]
What=nas:/volume2/media
Where=/srv/immich/media
Type=nfs
Options=rw,hard,noatime

[X-CoreOps]
CreateMountpoint=true
