[Unit]
Description=Verification frontend demo UAT v3

[Container]
Image=docker.io/library/caddy:2.10.2-alpine
ContainerName=frontend

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
